.cart-container{
    width: 90%;
    padding: 50px 0;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    font-family: "Nunito";
    /* align-items: center; */
}

.container-items{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-right: 2px dotted #7baab1 ;
    padding: 0 40px;
    font-family: "Nunito";
}
h2{
    font-size: 18px;
}
.imd{
    border-radius: 10px;
}

.cart-info{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black ;
    font-family: "Nunito";
}
.btn-cart{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    font-family: "Nunito";
  
}

.btn-cart > button {
    width: 200px;
    font-family: "Nunito";
    background-color: #a8848d ;
}
.btn3:hover{
    background-color: #7baab1!important;
    color: white;
}
.btn-cart > button :hover{
    
    background-color: #7baab1 !important;

}

.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    /* border: 1px solid #7F669D; */
    box-shadow: 0px 2px 5px 0px #7baab1 ;
    border-radius: 10px;
    padding: 0 10px;
    font-family: "Nunito";
    

}

.cart-item > img{
    width: 10%;
    height: 80px;
    object-fit: cover;
}

/* Aca la tarjeta */
.cart-item-info{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: "Nunito";
    
    
}

.cart-item-info > h2{
    font-family: "Nunito";
}
h1{
    font-family: "Nunito";
    text-align: center;
    font-size: 30px;
}

.checkOut{
    display: flex;
}

.fieldSet2{
    border-radius: 10px;
    display: block;
    /* width: 100%; */
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 1rem;
    
}
h1{
    font-size: 25px;
}

.btnCheckout{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
    /* gap: 40px; */
    /* margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 30px; */
    color: black !important;
    font-weight: bold;
    border-radius: 5px;
    /* border: transparent !important; */
    align-items: center;
    font-family: "Nunito";
    padding: 10px;
    width: 100%;
    justify-content: center;
    background-color: #a8848d;
  }
  .btnCheckout:hover{
    background-color: #7baab1;
    
  }

  .flexForm{
    display: block;
    text-align: center;
    border: 1px solid #7baab1;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    box-shadow: 0px 2px 5px 0px #7baab1 ;
  }